<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main_style.css') }}">
    {% block head%}{% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div id='form-div'>
        <form action="#" method="post">
            <input id='input-text' type="text" placeholder='url for olx.pl' name='url' class="" value='{{url_}}' />
            <input id='input-number' type="number" name="nr_of_pages" class='' value='{{nop}}' min="1" step='1' />
            <input id='input-submit' type="submit" class="w3-bar-item w3-button w3-dark-grey w3-input" value="submit" />
        </form>
    </div>
    {% block body%}{% endblock %}
</body>

</html>